<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Procurar" (ionInput)='filterList($event)'></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ng-container *ngIf="!listCategorias || listCategorias.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" size-md="6" *ngFor="let categoria of listCategorias">
            <ion-card class="ion-card" button [routerLink]="['/menu/lista-servicos/', categoria.nome]">
                <img [src]="categoria.foto">
              <div class="target ion-text-center">
                <h1 class="card-title">{{ categoria.nome }}</h1>
                <h2 class="card-sub-title">{{ categoria.descricao }}</h2>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item-sliding>
  </ion-list>
