ion-chip{
    width: 100%;
    img{
        margin: auto;
    }
}

ion-menu-toggle{
    --color-checked: transparent;
}

ion-avatar{
    margin-left: 10px;
    border: 3px solid white;
}

ion-item{
    --color: white;
}

ion-icon{
    color: white;
}