<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/servicos-ofertados"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicos Aceitos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12" size-md="6" *ngFor="let ordem of aceitos">
                <ion-card>
                  <ion-item lines="none">
                    <app-busca-perfil [uidUsuario]="ordem.uidUsuario"></app-busca-perfil>
                  </ion-item>
                  <ion-item lines="none">
                    <h4>{{ ordem.descricao }}</h4>
                  </ion-item>
                  <ion-item lines="none">
                    <h4>{{ ordem.valor | currency:'BRL':true:'1.2-2' }}</h4>
                  </ion-item>
                  <ion-item>
                      <ion-button (click)="servicoConcluido(ordem.id)">Concluido/Pago</ion-button>
                      <ion-icon slot="end" name="chatbubbles" (click)="abrirChat(ordem.id, ordem.uidUsuario)"></ion-icon>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
  </ion-content>
  