<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/menu/servicos-pedidos"></ion-back-button>
    <ion-title>Concluido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col size="12">
          <img src="{{ ordem.foto }}">
        </ion-col>
        <ion-col size="12">
          <ion-label>
              Descrição:
          </ion-label>
          <ion-item>
            <h3>{{ ordem.descricao }}</h3>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-label>
              Dia que foi Pedido:
          </ion-label>
          <ion-item>
            <h3>{{ ordem.dataHora | date: 'dd/MM/yyyy' }}</h3>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-label>
              Dia do Termino:
          </ion-label>
          <ion-item>
            <h3>{{ ordem.dataHoraTermino | date: 'dd/MM/yyyy' }}</h3>
          </ion-item>
        </ion-col>
        <ion-col size="12">
            <ion-label>
                Valor Pago:
            </ion-label>
            <ion-item>
              <h3>{{ ordem.valor | currency: 'BRL' }}</h3>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card *ngIf="avaliacao" class="avaliacao ion-text-center">
        <app-star-rating-vote [idOrdem]="idOrdem" [idAtuacao]="ordem.idProfissao"></app-star-rating-vote>  
      </ion-card>
    </ion-grid>

</ion-content>
