<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contratar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-item>
              <h6>Por favor adicione uma foto do serviço!</h6>
            </ion-item>
            <ion-item *ngIf="photo != ''">
              <img [src]='photo' [(ngModel)]='contrato.foto'>      
            </ion-item>
              <ion-item>
                <ion-segment (ionChange)="abrirGaleria($event)" color="primary">
                    <ion-segment-button value="friends">
                      <ion-icon name="camera"></ion-icon>
                    </ion-segment-button>
                    <ion-segment-button value="galeria">
                      <ion-icon name="image"></ion-icon>
                    </ion-segment-button>
                  </ion-segment>
              </ion-item>
            <ion-item>
              <h6>Quanto mais detalhes melhor será para o profissional!</h6>
            </ion-item>
            <ion-item>
              <ion-input required type="text" placeholder="Descrição do Serviço" [(ngModel)]='contrato.descricao'></ion-input>
            </ion-item>
            <ion-item>
              <h6>Até que data você ira querer?</h6>
            </ion-item>
            <ion-item>
              <ion-button slot="start" (click)="datePiker()">Data Final: <ion-icon name="calendar"></ion-icon></ion-button>
              <p slot="end">{{ dataFinal | date: 'dd/MM/yyyy' }}</p>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="full" (click)="concluiContrato()">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>