<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Seus Dados</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding>
    <ion-card>
      <ion-grid>
        <form #form="ngForm">
        <ion-row>
          <ion-col size="12">
              <ion-list lines="full">
                  <ion-avatar class="contact-avatar" *ngIf="photo == ''" >
                    <img name="foto" [src]='todoUser.foto' (click)="abrirGaleria()">
                  </ion-avatar>
                  <ion-avatar class="contact-avatar" *ngIf="photo != ''" >
                    <img name="foto" src='{{photo}}' (click)="abrirGaleria()">
                  </ion-avatar>
                        <!--<ion-input type="file" expand="full" (change)="uploadImagem($event)"><ion-icon name="add-circle-outline"></ion-icon></ion-input>-->   
              
                  <!--
                  <ion-item>
                    <ion-input type="text" value="{{ dowloadUrl | async }}" [(ngModel)]='todoUser.foto' name="foto" ></ion-input>
                  </ion-item>
                  -->
                  <ion-item>
                      <ion-input required name="nome" type="text" placeholder="Nome" [(ngModel)]='todoUser.nome'></ion-input>
                  </ion-item> 
                  <ion-item>
                    <ion-input required name="cpf" type="text" placeholder="CPF" [(ngModel)]='todoUser.CPF' [brmasker]="{mask:'000.000.000-00', len:14 }"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input required name="dataNasc" type="date" [(ngModel)]='todoUser.dataNasc'></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-input required name="celular" type="text" placeholder="Celular" [(ngModel)]='todoUser.celular' [brmasker]="{mask:'(00)00000-0000', len:14 }"></ion-input>
                  </ion-item>
                  <ion-button expand="full" (click)="saveTodo()" [disabled]="!form.form.valid">Alterar</ion-button>
                </ion-list>
          </ion-col>
        </ion-row>
       </form>
      </ion-grid>
    </ion-card>
  </ion-content>